html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#my-canvas{
    border: 1px solid red;
    position: absolute;
}

.container-binary{
    border: 1px solid red;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#binary{
    border: 1px solid green;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

.numero{
    width: 50px;
    text-align: center;
}

.container-button{
    border: 1px solid blue;
    width: 700px;
    text-align: center;
}